{{ "<!-- Banner -->" | safeHTML}}
<section id="cta">
  <div class="inner">
      <div class="left">
        <h1>Buy the Book</h1>
        <h3>Choose your favourite supplier to purchase a copy of <br><em>Design. Think. Make. Break. Repeat.</em></h3>
        <ul class="actions">
            <li><a href="https://www.amazon.com/Design-Think-Make-Break-Repeat/dp/9063694792/" class="button next">Buy from Amazon</a></li>
            <li><a href="https://www.bispublishers.com/design-think-make-break-repeat.html" class="button next">Buy from BIS Publishers</a></li>
            <li><a href="https://www.booktopia.com.au/design-think-make-break-repeat-martin-tomitsch/book/9789063694791.html" class="button next">Buy from Booktopia</a></li>
        </ul>
      </div>
      <div class="right">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/cover.png" alt=""/>
      </div>

  </div>
</section>
