{{ "<!-- Banner -->" | safeHTML}}
<section id="cta">
  <div class="inner">
      <div class="left">
        <p>Welcome to the companion website for <strong>Design. Think. Make. Break. Repeat.</strong><br> – a handbook that documents sixty methods used in design innovation projects leading to the design of new products or services. This website features a short description of each method along with free printable design templates and resources used in the exercises featured in the book. Enjoy! </p>
        <ul class="actions">
            <li><a href="https://www.amazon.com/Design-Think-Make-Break-Repeat/dp/9063694792/" class="button next">{{ .Site.Params.Intro.buttonText }}</a></li>
        </ul>
      </div>
      <div class="right">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/cover.png" alt=""/>
      </div>

  </div>
</section>
