{{ "<!-- Banner -->" | safeHTML}}
<section id="cta">
  <div class="inner">
      <div class="left">
        <p>Welcome to the companion website for <strong>Design. Think. Make. Break. Repeat.</strong><br> – a handbook that documents sixty methods used in design innovation projects leading to the design of new products or services. This website features a short description of each method along with free printable design templates and resources used in the exercises featured in the book. Enjoy! </p>
        <p>This book has a companion MOOC (Massive Open Online Course) <a href="https://www.coursera.org/learn/innovation-through-design">available on Coursera</a>. The 5-week course demonstrates some of the methods from the book and how they can be used in practice. It brings the design process of think-make-break-repeat to live through case studies and interviews with some of Australia’s leading design firms, Atlassian, Design+Industry and Wunderman Bienalto. The course is suitable for anyone who is curious about design and translating the processes and tools of design thinking into innovative opportunities.</p>
        <ul class="actions">
            <li><a href="{{ .Site.Params.baseURL }}/buy" class="button next">{{ .Site.Params.Intro.buttonText }}</a></li>
        </ul>
      </div>
      <div class="right">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/cover.png" alt=""/>
      </div>

  </div>
</section>
