{{ "<!-- Banner -->" | safeHTML}}
    <section id="intro">
        <div class="inner">
            <div class="content">
                <p>This book documents sixty methods along with tools and case studies that involve multiple design disciplines and perspectives – from product and service design to interaction and user experience design. It is written as a learning resource and reference guide to scaffold the reader’s understanding of the design process as a method for complex problem-solving and innovation.<br>
                Each method is presented through an evidence-based description along with step-by-step exercises and ready-to-use templates. The methods are applicable to a variety of design projects and across a range of domains and industries. This cross-disciplinary approach is also reflected in the choice of design challenges and case studies included in the book, which ranges from autonomous vehicles to designing the future shopping experience.<br>
                The methods included in the book have been contributed by leading experts in the field hosting many years of experience in design research and practice. The exercises and templates are informed by the learnings from fifteen years of teaching courses on design in the <a href="http://sydney.edu.au/architecture/research/design-lab/">Design Lab</a> at the University of Sydney.</p>

            </div>
            <ul class="actions">
                <li><a href="https://www.amazon.com/Design-Think-Make-Break-Repeat/dp/9063694792/" class="button next">{{ .Site.Params.Intro.buttonText }}</a></li>
            </ul>
        </div>
    </section>
