{{ "<!-- Banner -->" | safeHTML}}

    <section id="intro">
        <div class="inner">
            <h1>Online Course – Innovation Through Design</h1>
              <p><strong>MORE THAN 20,000 LEARNERS ENROLLED&nbsp;</strong></p>
              <p>The book has a companion MOOC (Massive Open Online Course) available on Coursera for free without a certificate. To earn a certificate, learners have to pay a small fee and pass all assessments.&nbsp;</p>
              <p>The 5-week course demonstrates some of the methods from the book and how they can be used in practice. It brings the design process of think-make-break-repeat to life through case studies and interviews with some of Australia&rsquo;s leading design firms, Atlassian, Design+Industry and Wunderman Bienalto.&nbsp;</p>
              <p>The course is suitable for anyone who is curious about design and translating the processes and tools of design thinking into innovative opportunities.</p>
              <p><strong>Instructors:</strong> Martin Tomitsch and Cara Wrigley</p>
              <p><strong>Offered by: </strong>The University of Sydney</p>
              <ul class="actions">
                <li><a href="https://www.coursera.org/learn/innovation-through-design" class="button next">Visit the Online Course</a></li>
              </ul>
        </div>
    </section>
