{{ "<!-- Header -->" | safeHTML }}
<section id="methods" class="methods-section">
  <ul id="methodList" class="grid">
    {{ range .Pages }}
    <li>
      <a href="{{ .Slug }}"  data-position="center center" data-title="{{ .Title }}" data-description="{{.Description }}" data-buttontext="5-whys">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/methods/resized/{{ .Params.image }}-medium.jpg" alt=""/>
        <div class="name"><strong>{{ .Title }}</strong></div>
      </a>
    </li>
    {{ end }}
  </ul>

</section>
