{{ "<!-- Header -->" | safeHTML }}
<section id="team" class="team-section">
  <h1>Design Team</h1>
  <ul id="teamList" class="grid">
    <li>
      <div class="img-container">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/team/Martin.jpg" alt=""/>
      </div>
        <div class="name"><h3>Martin Tomitsch</h3></div>
        <div class="bio">
          <p>Associate Professor Martin Tomitsch is Chair of Design at the University of Sydney School of Architecture, Design and Planning and Director of the Design Lab.
            <br><br>
            He received his Ph.D. in Informatics from the Vienna University of Technology. His research focuses on the role of design in shaping the interactions between people and technology. He has been teaching interaction design in university programs since 2004. He is state co-chair of the Australian Computer-Human Interaction Special Interest Group (CHISIG), visiting lecturer at the Vienna University of Technology's Research Group for Industrial Software (INSO), and visiting professor at the Central Academy of Fine Arts, Beijing. </p>
        </div>
    </li>
    <li>
      <div class="img-container">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/team/Cara.jpg" alt=""/>
      </div>
        <div class="name"><h3>Cara Wrigley</h3></div>
        <div class="bio">
          <p>Dr Cara Wrigley is Associate Professor Design Innovation at The University of Sydney, residing in the Design Lab - an interdisciplinary research group within the School of Architecture, Design and Planning.
            <br><br>
             She is an Industrial Designer who is actively researching the value that design holds in business – specifically through the creation of strategies to design business models which lead to emotive customer engagement. Her primary research interest is in the application and adoption of design innovation methods by various industry sectors to better address latent customer needs. Her work to date has crossed research boundaries and appears in a wide range of disciplinary publications. </p>
        </div>
    </li>
    <li>
      <div class="img-container">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/team/Madeleine.jpg" alt=""/>
      </div>
        <div class="name"><h3>Madeleine Borthwick</h3></div>
        <div class="bio">
          <p>Madeleine Borthwick is an Associate Lecturer at University of Sydney’s School of Architecture, Design and Planning.
            <br><br>
            She is responsible for teaching and coordinating design subjects that include User Experience Design, Interaction Design, Design Processes & Methods, and 3D Modelling and Fabrication. Additionally, Madeleine is a practicing interaction designer and the director of Kiss the Frog Australia; a consultancy specialising in the design of creative multimedia-based experiences for museums and visitor centres. Her background is in Interaction Design (Technical University of Delft, Hons) and Industrial Design (University of Technology Sydney, Hons).</p>
        </div>
    </li>
    <li>
      <div class="img-container">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/team/Naseem.jpg" alt=""/>
      </div>
        <div class="name"><h3>Naseem Ahmadpour</h3></div>
        <div class="bio">
          <p>Naseem Ahmadpour is a Lecturer in Design Computing at The University of Sydney.
            <br><br>
             She received her Ph.D. in Design and Interaction from Polytechnique Montréal. Naseem’s research is interdisciplinary and broadly focused on design for wellbeing. Specifically, she investigates new design possibilities that meet basic human needs and values and therefore enhance motivation and the ability to self-regulate; particularly in the area of health. Naseem has held positions at Swinburne University of Technology and industries including Bombardier Aerospace, and been a visiting scholar at TU Delft University. She has published in leading design and human factors journals and conferences including Applied Ergonomics, Ergonomics, and Design Research Society. </p>
        </div>
    </li>
    <li>
      <div class="img-container">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/team/Jess.jpg" alt=""/>
      </div>
        <div class="name"><h3>Jessica Frawley</h3></div>
        <div class="bio">
          <p>Dr Jessica Frawley is a Lecturer in Educational Innovation and an Honorary Associate of the Sydney School of Architecture, Design and Planning at the University of Sydney.
            <br><br>
            Having a cross-disciplinary background, with degrees in both information technology and the humanities, Jessica’s work focuses on designing and understanding technologies from human perspectives. She has worked as a researcher and designer in a range of academic, commercial, and government settings, but is especially focused on education and technologies for learning. Her research and teaching have been recognised through multiple awards and are featured in a wide range of publications.</p>
        </div>
    </li>
    <li>
      <div class="img-container">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/team/Baki.jpg" alt=""/>
      </div>
        <div class="name"><h3>A. Baki Kocaballi</h3></div>
        <div class="bio">
          <p>A. Baki Kocaballi is a Postdoctoral Research Fellow in Artificial Intelligence and Interaction Design at Macquarie University, Sydney.
            <br><br>
             He completed his Ph.D. in Interaction Design at the University of Sydney in 2013. Before undertaking his doctoral study, he completed a Master’s degree in Information Systems at Middle East Technical University. He has extensive knowledge and experience in designing and developing educational and medical applications. He has received several academic and artistic awards and recognitions. His research interests include situated and relational design approaches, actor-network theory, artificial intelligence, user experience, e-health, conversational interfaces, ideation, and participatory design.</p>
        </div>
    </li>
    <li>
      <div class="img-container">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/team/Claudia.jpg" alt=""/>
      </div>
        <div class="name"><h3>Claudia Núñez-Pacheco</h3></div>
        <div class="bio">
          <p>Claudia Núñez-Pacheco is a design researcher and Ph.D. candidate at the Sydney School of Design at the University of Sydney.
            <br><br>
             Her research investigates how bodily ways of knowing can be used as crafting materials for design ideation, evaluation, insight, and empathy. In her research journey, Claudia has engaged in a multidisciplinary exploration that merges human-computer interaction (HCI) and design methods with tools from experiential psychology. Claudia has been awarded twice by the National Commission for Scientific and Technological Research Scholarship (Chile), in addition to disseminating her research through various international HCI and design publications.</p>
        </div>
    </li>
    <li>
      <div class="img-container">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/team/Karla.jpg" alt=""/>
      </div>
        <div class="name"><h3>Karla Straker</h3></div>
        <div class="bio">
          <p>Dr Karla Straker is an Early Career Development Fellow, in the Design Lab, located in the School of Architecture, Design and Planning, at the University of Sydney.
            <br><br>
            She has a Bachelor of Design (Industrial Design) and Ph.D. from the Queensland University of Technology. Her research is in a cross-disciplinary setting exploring the design of digital channel engagements, investigated through theoretical approaches from the fields of design, psychology, marketing and information systems. Her research aims to understand how relationships with customers can be built and sustained through a deeper understanding of emotions. In her research work, she emphasises the design and evaluation of new approaches to the field of design innovation. Karla has published in a variety of journals spanning the fields of marketing, interactive technology, business, and design.</p>
        </div>
    </li>
    <li>
      <div class="img-container">
        <img class="lazy" data-src="{{ .Site.Params.baseURL }}/img/team/Lian.jpg" alt=""/>
      </div>
        <div class="name"><h3>Lian Loke</h3></div>
        <div class="bio">
          <p>Lian Loke is a Senior Lecturer in Design and Computation at the University of Sydney, and Director of the Master of Interaction Design and Electronic Arts.
            <br><br>
            She received her Ph.D. in interaction design from the University of Technology, Sydney. Her research explores the aesthetics of interaction and creative approaches to designing for the user experience of interactive technologies informed by dance, performance, and somatics. She has published in leading design and human-computer interaction journals, for example, Transactions in Computer-Human Interaction, and International Journal of Design.</p>
        </div>
    </li>
  </ul>
<div class="imprint"><p><strong>The Design. Think. Make. Break. Repeat. book and the companion website are based on the Sydney Design Thinking Toolkit project, which was a 2016 Educational Innovation initiative funded by the University of Sydney’s Strategic Education Grants scheme.</strong></p></div>
</section>
